@use './abstracts/media' as *;
@use './abstracts/variables' as *;


.hints {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6% auto;
    max-width: 900px;
    // background-color: #fff;

    .hints__title {
        margin: 3px 0;
        text-align: center;
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        list-style-type: none;

        li {
            margin: 5px 15px;
            color: #888;
            cursor: pointer;
        }
    }
}