@import url(http://fonts.googleapis.com/css?family=Montserrat:800|Roboto);

html {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

body {
  background-color: #f8f8f8;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}


@media only screen and (min-width: 900px) {
  h1 {
    font-size: 2em;
  }
}


input{
  font-size: 1em;
}

.app-container {
  padding: 0px 5vw;
}

@media only screen and (min-width: 900px) {
  .app-container {
    padding: 10vh 15vw;
    max-width: 900px;
  }
}

.adjective-input-area {
  display: flex;
  flex-wrap: wrap;
}

.input-box {
  background: none;
  margin-right: 20px;
  margin-bottom: 10px;
  border: 0px;
  border-bottom: 1px solid;
}

.syllable-area {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}

.syllable-area select {
  margin-left: 10px
}

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.grid-box {
  margin: 20px 0px 20px;
  padding: 20px 20px;
  background-color: #f8f8f8;
  /* box-shadow: -5px -5px 15px rgba(204, 180, 180, 0.4); */
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
}

.example {
  font-style: italic;
  color: #666;
}

.example-word {
  text-decoration: underline;
}
